@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

@font-face {
  font-family: BigBlueTermPlus;
  src: url(../Fonts/BigBlueTermPlusNerdFont-Regular.ttf);
}

@font-face {
  font-family: HeavyDataNerd;
  src: url(../Fonts/HeavyDataNerdFontPropo-Regular.ttf);
}

@font-face {
  font-family: HurmitNerdFont;
  src: url(../Fonts/HurmitNerdFontMono-LightItalic.otf);
}
@font-face {
  font-family: Montserrat_black;
  src: url(../Fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat_bold;
  src: url(../Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat_regular;
  src: url(../Fonts/Montserrat-Regular.ttf);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.2s ease-in-out;
  color: #000;
  text-decoration: none;
}

::selection {
  background-color: var(--Soft-Red);
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Soft-Blue);
}

section {
  padding: 2rem 9%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: var(--Very-Dark-Blue);
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.heading h1 {
  padding-bottom: 2rem;
}

.heading p {
  max-width: 70rem;
  margin: auto;
  color: var(--Grayish-Blue);
  font-size: 1.7rem;
}

.all-btn {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  background-color: var(--Soft-Blue);
  border-radius: 0.5rem;
  color: #fff;
}

.all-btn:hover {
  background-color: transparent;
  color: var(--Soft-Blue);
  border: 2px solid var(--Soft-Blue);
}

:root {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: rgb(94, 107, 105);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
  --box-shadow: 0.5rem 0.5rem 0 hsl(231, 69%, 60%);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}

/* navbar sections starts */
.header {
  padding: 1px 8%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  display: flex;
  cursor: pointer;
}

.header .logo .logo_name {
  padding: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: Montserrat_bold;
  color: #5e6b69;
}
/* home section starts  */

.home {
  padding-top: 8rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: #ffffff;
}

.home .image {
  flex: 1 1 30rem;
  
}

.home .image img {
  max-width: 500px;
  height: auto;
  margin-bottom: 100px;
  border-radius: 15px;
  
}

.home .content {
  flex: 1 40rem;
  justify-content: center;
  align-items: center;
}

.home .content h1 {
  font-family: HeavyDataNerd;
  font-size: 60px;
  color: #172122;
  padding-bottom: 40px;
  line-height: 140%;
}

.home .content h3{
  font-family: Montserrat_Bold;
  font-size: 30px;
  color: #172122;
  padding-bottom: 30px;
}

.home .content p {
  font-family: Montserrat_Bold;
  font-size: 1.7rem;
  padding-top: 20px;
  padding-right: 30px;
  align-content: center;
  max-width: 150rem;
  color: #5e6b69;
  padding-bottom: 5rem;
}
/* home section ends */

/* footer section starts */
.footer {
  background-color: #172122;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #5e6b69;
  padding: 1rem 0;
}

.footer .box-container .box .email{
  display: flex;
  font-size: 1.5rem;
  color: #5e6b69;
  padding: 1rem 0;
  text-transform: lowercase;
}

.footer .box-container .box .address{
  display: flex;
  font-size: 1.5rem;
  color: #5e6b69;
  padding: 1rem 0;
  margin-right: 20px;
}

.footer .box-container .box .likedin{
  display: flex;
  font-size: 1.5rem;
  color: #5e6b69;
  padding: 1rem 0;
}


.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--green);
}

.footer .box-container .box a:hover i {
  padding-right: 1rem;
  color: #fff;
}

.footer .copyright {
  margin-top: 50px;
  padding: 1rem;
  text-align: right;
  font-size: 2rem;
  color: #5e6b69;
  border-top: 0.1rem solid #5e6b69;
}

/* footer section ends */

/* responsive for 375px */
@media screen and (max-width: 500px) {
  .home .image {
    flex: 1 1 auto; /* Remove fixed width, allow image to adapt */
  }

  .home .image img {
    max-width: 100%; /* Set max-width to 100% for full width on smaller screens */
  }
  .home .content {
    flex: 1 1 100%; /* Make content full width on smaller screens */
  }

  .home .content h1 {
    font-size: 40px; /* Adjust font size for better readability */
  }

  .home .content h3 {
    font-size: 25px; /* Adjust font size for better readability */
  }

  .home .content p {
    font-size: 1.5rem; /* Adjust font size for better readability */
  }
  .footer .box-container {
    grid-template-columns: 1fr; /* Maintain single column for smaller screens */
  }

  .footer .box-container .box h3,
  .footer .box-container .box .email,
  .footer .box-container .box .address,
  .footer .box-container .box .likedin {
    padding: 0.5rem 0; /* Maintain reduced padding */
  }

  .footer .box-container .box a i {
    padding-right: 0.2rem; /* Maintain reduced icon spacing */
  }
}
